<% favorite_icon = session[:favorites]&.include?(comic["id"].to_i) ? 'heart_on.png' : 'heart_off.png' %>

<div class="comic">
  <div class="comic-image">
    <img src="<%= comic["thumbnail"]["path"] %>.jpg" alt="<%= comic["title"] %> Cover" />
    <div class="favorite-button" data-comic-id="<%= comic['id'] %>">
      <%= link_to image_tag(favorite_icon, alt: 'Favorite', class: 'favorite-icon', id: "favorite-icon-#{comic['id']}"), favorite_comic_path(comic["id"]), method: :post, remote: true, class: 'favorite-btn' %>
    </div>
    <div class="comic-title"><%= comic["title"] %></div>
  </div>
</div>
