<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marvel Comic Books</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'comics', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'header' %>

  <div class="comic-container">
    <% if @comics && @comics["data"] && @comics["data"]["results"] %>
      <% @comics["data"]["results"].each do |comic| %>
        <%= render 'comic', comic: comic %>
      <% end %>
    <% else %>
      <p>No comics found or API error: <%= @comics["message"] %>.</p>
    <% end %>
  </div>
</body>
</html>
